<div id="<%= dom_id container %>">
  <p>
    <strong>Docker:</strong>
    <%= container.docker_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= container.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= container.image %>
  </p>

</div>
