<div id="<%= dom_id iteration %>">
  <p>
    <strong>Code:</strong>
    <%= iteration.code %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= iteration.exercise_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= iteration.user_id %>
  </p>

</div>
