<%= link_to @exercise, class: 'btn btn-link p-0' do %>
  Back to <%= @exercise.name %>
<% end %>
<hr/>

<h1><%= @exercise.name %></h1>

<%= render 'form', exercise: @exercise, iteration: @iteration %>
