<%= link_to "Back to #{@exercise.name}", @exercise, class: 'btn btn-link p-0' %>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-md-5 ps-0 pe-4">
      <pre><code><%= @iteration.code %></pre></code>
    </div>
    <div class="col-md-7 ps-4">
      <pre><code><%= @exercise.tests %></pre></code>
    </div>
  </div>
</div>
