<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise.description %>
  </p>

  <p>
    <strong>Tests:</strong>
    <%= exercise.tests %>
  </p>

</div>
