<div class="row">
  <div class="col-sm-6">
    <h1>Exercises</h1>
  </div>

<% if user_signed_in? && current_user.admin? %> 
  <div class="col-sm-6 text-end">
      <%= link_to new_exercise_path, class: 'btn btn-primary' do %>
        <i class="fas fa-plus"></i> Create Exercise
      <% end %>
    </div>
  </div>
<% end %>

<% @exercises.each do |exercise| %>
  <%= link_to exercise, style: "text-decoration: none;" do %>
    <div class="card my-3">
      <div class="card-header">
        <%= exercise.name %>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= exercise.description.truncate_words(30, omission: '...')%>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
